*
{
    padding:0;
    margin:0;
}

@font-face {
    font-family: "Subway";
    src: url("fonts/Subway-Black.ttf");
    }

body 
{
    background-color:rgba(51,195,229,1);
    position:relative;
    

}

.main-menu 
{
    position:absolute;
    width:100vw;
    overflow-y: auto;
    background:transparent;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo 
{
    width:250px;
    height:250px;
    margin-bottom:10px;
}

.classic-game-btn
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    border:4px solid white;
    background-color:rgba(255,111,2,1);
    font-family: 'Subway', serif;
   
    border-radius:15px;
}

.classic-game-btn:hover 
{
    opacity:0.7;
    cursor: pointer;
}
h1 
{
    font-size:25px;
    letter-spacing: 1px;
    line-height: 25px;
    padding:8px 10px 5px 10px;
}
p1 
{
    font-size:20px;
    letter-spacing: 1px;
    line-height: 20px;
    padding:0px 10px 10px 10px;
}

p3
{
    font-size:16px;
    letter-spacing: 1px;
    line-height: 16px;
    color:rgba(255, 255, 255, 0.89);
    font-family: 'Subway';
    margin-top:5px;
}

h2
{
    font-size:25px;
    letter-spacing: 1px;
    line-height: 25px;
    padding:8px 10px 5px 10px;
}
p2 
{
    font-size:20px;
    letter-spacing: 1px;
    line-height: 20px;
    padding:0px 10px 10px 10px;
}




.add-users-classic
{
    width:100vw;
    height: 100vh;
    position:absolute;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

h3 
{
    color:rgba(255, 255, 255, 0.89);
    font-family: 'Subway';
    font-size:30px;
    width:80vw;
    text-align: center;

}

.add-container
{
    width:100%;
    height:300px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delate-classic 
{
    width:40px;
    height:40px;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;  
    border:none;
}


.del 
{
    content:" ";
    position:absolute;
    width:27px;
    height:4px;
    background:white;
}
.add-span
{
    content:" ";
    position:absolute;
    width:27px;
    height:4px;
    background:white;
    transform: rotate(90deg);
}

.number-players 
{
    width:170px;
    height:170px;
    border-radius:100%;
    background:white;
    color:rgba(255,111,2,1);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:130px;
    font-weight: 1000;
}

.add-classic 
{
    width:40px;
    height:40px;
    margin-left:10px;
    border:none;
    background:transparent;
    display:flex;
    align-items: center;
    justify-content: center;
}

.delate-classic:hover, .add-classic:hover 
{
    opacity:0.7;
    cursor: pointer;
}

.start-button
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    border:4px solid white;
    background-color:	rgba(0, 192, 92,1);
    font-family: 'Subway', serif;
    font-size:30px;
    width:170px;
    height:60px;
    text-align: center;
   
    border-radius:15px;
}

.start-button:hover 
{
    opacity:0.7;
    cursor: pointer;
}


.classic-spin-container 
{
    width:100vw;
    height:100vh;
    position:absolute;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle
{
    position: relative;
    border: 8px solid white;
    padding: 0;
display:flex;
align-items: center;
justify-content: center;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    overflow: hidden;
}
@media only screen and (min-width: 1000px) {
    .circle{
        width: 80vh;
        height: 80vh;
    }
  }


.result
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
    border:4px solid white;
    background-color:rgba(255,111,2,1);
    font-family: 'Subway', serif;
    font-size:30px;
    width:180px;
    height:53px;
    text-align: center;
   margin-top:50px;
    border-radius:15px;
    z-index:3;
}

.bottle-spin 
{
    position:absolute;
    width:60%;
    height:60%;
   z-index:1000;
   transition:4s;
}

.bottle-spin-class 
{
    transition:4s;
}

.polygon 
{
    overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  display:none;
}

.polygon:nth-of-type(1) {
    background-color:red;
  }
  .polygon:nth-of-type(2) {
    background-color:orange;
  }
  .polygon:nth-of-type(3) {
    background-color:blue;
  }
  .polygon:nth-of-type(4) {
    background-color:yellow;
  }
  .polygon:nth-of-type(5) {
    background-color:purple;
  }
  .polygon:nth-of-type(6) {
    background-color:green;
  }
  .polygon:nth-of-type(7) {
    background-color:pink;
  }
  .polygon:nth-of-type(8) {
    background-color:cyan;
  }
 



  .random-spin-container
  {
      width:100vw;
      height: fit-content;
      padding-bottom:0;
      overflow-y: auto;
      position:absolute;
      display:none;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }

  h5 
  {
    color:rgba(255, 255, 255, 0.89);
    font-family: 'Subway';
    font-size:28px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    margin:50px 0px;
  }

  .player-container
  {
      position:relative;
      width:100vw;
      height:60px;
      border:none;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .player-name 
  {
      background-color:rgb(0, 103, 162);
      border:3px solid white;
      border-radius:3px;
      color:rgba(255, 255, 255, 0.89);
        font-family: 'Subway';
        font-size:25px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 1px;
        width:fit-content;
        max-width: 180px;
        padding:0px 10px;
        height:45px;
        display:flex;
        align-items: center;
        justify-content: center;
        margin-right:5px;
  }


  .delate-player
  {
      width:45px;
      height:45px;
      border:3px solid white;
      background-color:	rgb(255, 86, 0);
      border-radius:3px;
      position:relative;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left:5px;
  }
  .delate-player:hover{
    opacity:0.7;
    cursor: pointer;
}

  .del-span
  {
      width:35px;
      height:5px;
      background:white;
      border-radius:3px;
      content:" ";
      position:absolute;
      transform: rotate(45deg);
  }
  .span-two
  {
      transform:rotate(135deg);
  }

  .add-player 
  {
      margin:15px 0px;
      width:45px;
      height:45px;
      min-width:45px;
      min-height:45px;
      border-radius:100%;
      background:rgb(255, 201, 48);
      position:relative;
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      border:none;
      z-index:1000;
  }

  .add-player:hover{
    opacity:0.7;
    cursor: pointer;
}
  .add-span-random 
  {
    width:24px;
    height:4px;
    background:white;
    border-radius:2px;
    content:" ";
    position:absolute;
  }

  .add-two
  {
    transform: rotate(90deg);
  }

  .start-random-game 
  {
      margin:30px 0px;
  }